h1{
  text-align: center;
  color: blue;
  font-weight: bolder;
  font-size: 80px;
  letter-spacing: 30px;
  margin: 60px 0px 60px 0px;
  text-shadow: 0 0 10px red, 0 5px 20px red;
  
}

.searchbar{
  text-align: center;
  width: 500px;
  height: 25px; 
  border: 2px solid blue; 
}
#submit {
  border: 2px solid blue;
}
form{
  display:flex;
  justify-content: center;
}
header{
  display:flex;
  justify-content: center;
  margin: -11px -11px;
  border: 3px solid black;
  background-color: black;
  background: linear-gradient(blue, black, red, red);
  height: 280px;
}
#captain{
  position: absolute;
  top: 75px;
  left: 20px;
  width: 160px;
  height: 210px;
}
#ironman{
  position:absolute;
  top: 88px;
  right: 20px;
  width: 200px;
  height: 200px;
}

section{
  width: 400px;
  height: 400px;
  border: 5px solid red;
}
span{
  display: flex;
  margin: 70px auto;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 892px) {
  .searchbar{
    width: 200px;
  }
  .image{
    display: none;
  }
  span{
    display:flex;
    align-items: center; 
    flex-direction: column; 
  }
  
  
}



